
<%- if false -%>
<h1>Listing Interests</h1>
<% end %>
<h2>最近投稿されたやりたいこと</h2>
<table>
  <thead>
    <tr>
      <th>やりたい事</th>
      <th>これをやりたい人</th>
      <th>やりたい度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= link_to interest.title, interest %></td>
        <td><%= link_to interest.user.user_name, user_path(interest.user_id) %></td>
        <td><%= interest.passion %></td>

        <td class='btn'><%= link_to '詳細を見る', interest %></td>
        <% if user_signed_in? && interest.user == current_user %>
        <td class='btn'><%= link_to '編集する', edit_interest_path(interest) %></td>
        <td class='btn'><%= link_to '削除する', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

      <%- if false -%>
            <% interest.comments.each do |comment| %>
            <tr>
              <td><%= comment.body %></td>
            </tr>
            <% end %>
      <%- end -%>

    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <p><%= link_to '新規投稿', new_interest_path %></p>
<% end %>
