<p id="notice"><%= notice %></p>

<p class="">
  <p class="">やりたい人</p>
  <h3 class=""><%= link_to @interest.user.user_name, user_path(@interest.user.id) %></h3>
</p>
<p class="interestTitle">
  <h2 class="yaritaikoto">やりたい事</h2>
  <p class="title"><%= @interest.title %></p>
  <h2 class="passion">やりたい度</h2>
  <p class="passion"><%= @interest.passion %></p>
</p>
<%#= link_to 'me too!', interest_empathies_path %>

<% if user_signed_in? && @interest.user == current_user %>
  <%= link_to '編集する', edit_interest_path(@interest) %> |
  <%= link_to '戻る', interests_path %>
<% end %>

<% if user_signed_in? && @interest.user != current_user %>
  <% if current_user.empathies.find_by(interest_id: @interest.id) %>
    <%= link_to '私も！を取消す', unempathize_path(@interest.id), method: :delete, class: "meTooBtn unempathy" %>
  <% else %>
    <%= link_to '私も！', empathize_path(@interest.id), method: :post, class: "meTooBtn empathy" %>
  <% end %>
<% end %>

<div class="commentsArea">
  <div>このやりたい事に対するコメント</div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <strong><%= link_to comment.user.user_name, comment.user %></strong>
      <br />
      <p>
        <%= comment.body %>
        <% if user_signed_in? && comment.user == current_user %>
        <%= link_to '削除', comment_path(comment), method: :delete %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
</div>
