<p id="notice"><%= notice %></p>

<p class="interestTitle">
  <h2 class="yaritaikoto">やりたい事</h2>
  <p class="title"><%= @interest.title %></p>
</p>
<%#= link_to 'me too!', interest_empathies_path %>

<% if user_signed_in? && @interest.user == current_user %>
  <%= link_to '編集する', edit_interest_path(@interest) %> |
  <%= link_to '戻る', interests_path %>
<% end %>
<%# binding.pry %>

<% if user_signed_in? && @interest.user != current_user %>
  <% if current_user.empathies.find_by(interest_id: @interest.id) %>
    <%= link_to '私も！を取消す', unempathize_path(@interest.id), method: :delete, class: "meTooBtn unempathy" %>
  <% else %>
    <%= link_to '私も！', empathize_path(@interest.id), method: :post, class: "meTooBtn empathy" %>
  <% end %>
<% end %>

<div class="commentsArea">
  <div>このやりたい事に対するコメント</div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.user_name %></strong>
      <br />
      <p>
        <%= comment.body %>
        <% if user_signed_in? && comment.user == current_user %>
        <%= link_to 'Delete', comment_path(comment), method: :delete %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
</div>
