<p id="notice"><%= notice %></p>

<p class="interestTitle">
  <strong>やりたい事:</strong>
  <%= @interest.title %>
</p>

<% if user_signed_in? && @interest.user == current_user %>
  <%= link_to 'Edit', edit_interest_path(@interest) %> |
  <%= link_to 'Back', interests_path %>
<% end %>

<div class="commentsArea">
  <div>このやりたい事に対するコメント</div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.user_name %></strong>
      <br />
      <p>
        <%= comment.body %>
        <% if user_signed_in? && comment.user == current_user %>
        <%= link_to 'Delete', comment_path(comment), method: :delete %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
</div>
