<!DOCTYPE html>
<html>
<head>
  <title>Doo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo">
    <%= link_to 'doo!',root_path %>
  </div>
  <% if user_signed_in? %>
    <div>
      <%= image_tag current_user.avatar_url %>
    </div>
    <p>ようこそ<%= current_user.user_name %>さん</p>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Twitter login', user_omniauth_authorize_path(:twitter) %>
    <%= link_to 'facebook login', user_omniauth_authorize_path(:facebook) %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
