<!DOCTYPE html>
<html>
<head>
  <title>Doo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="inner clearfix">
        <div id="logo">
          <%= link_to 'doo!',root_path %>
        </div>
        <% if user_signed_in? %>

          <p class="user_info">
            <span class="user_name">
              ようこそ<%= current_user.user_name %>さん
            </span>
            <span class="user_img">
              <%= image_tag current_user.avatar_url %>
            </span>
            <span class="log_out">
              <%= link_to 'logout', destroy_user_session_path, method: :delete %>
            </span>
          </p>
        <% else %>
          <ul class="sns_login">
            <li>
              <%= link_to 'Twitter login', user_omniauth_authorize_path(:twitter) %>
            </li>
            <li>
              <%= link_to 'facebook login', user_omniauth_authorize_path(:facebook) %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="content" class="inner">
      <%= yield %>
    </div>
  </div>
</body>
</html>
